form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
}
label {
    color: var(--gray--1);
}

input {
    height: 50px;
    width: 950px;
    font-size: 16px;
    padding: 5px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}